# Table of Contents
 <p><div class="lev2 toc-item"><a href="#Ayuda:" data-toc-modified-id="Ayuda:-01"><span class="toc-item-num">0.1&nbsp;&nbsp;</span>Ayuda:</a></div><div class="lev1 toc-item"><a href="#Titanic-dataset" data-toc-modified-id="Titanic-dataset-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Titanic dataset</a></div><div class="lev2 toc-item"><a href="#Loads..." data-toc-modified-id="Loads...-11"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Loads...</a></div><div class="lev3 toc-item"><a href="#Load-libraries" data-toc-modified-id="Load-libraries-111"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Load libraries</a></div><div class="lev2 toc-item"><a href="#Load-data" data-toc-modified-id="Load-data-12"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Load data</a></div><div class="lev3 toc-item"><a href="#Train" data-toc-modified-id="Train-121"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Train</a></div><div class="lev3 toc-item"><a href="#Test" data-toc-modified-id="Test-122"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Test</a></div><div class="lev3 toc-item"><a href="#Resultado-esperado" data-toc-modified-id="Resultado-esperado-123"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Resultado esperado</a></div><div class="lev2 toc-item"><a href="#Custom-functions" data-toc-modified-id="Custom-functions-13"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Custom functions</a></div><div class="lev2 toc-item"><a href="#Exploratory-data-analysis" data-toc-modified-id="Exploratory-data-analysis-14"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Exploratory data analysis</a></div><div class="lev3 toc-item"><a href="#random-foreste" data-toc-modified-id="random-foreste-141"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>random foreste</a></div><div class="lev3 toc-item"><a href="#xgboost" data-toc-modified-id="xgboost-142"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>xgboost</a></div><div class="lev1 toc-item"><a href="#Feature-importance" data-toc-modified-id="Feature-importance-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Feature importance</a></div>

Tips and tricks for jupyter notebooks:https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/

## Ayuda:

- autocompletar (`tab`)
- ayuda contextual
- stackoverflow
- APIs de los paquetes (atención a versión):  

    http://pandas.pydata.org/pandas-docs/stable/#    
    http://scikit-learn.org/stable/

Help > Keyboard shortcuts>  Ayuda contextual: `shift + tab`
    
<img src='./img/01.jpg' width=600>

# Titanic dataset

https://www.kaggle.com/c/titanic/data

Join competition and download data

## Loads...

### Load libraries

In [1]:
#Data wrangling
import pandas as pd
import numpy as np

#Save data
# import joblib

#Machine learning
import sklearn

#Visualization
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn import *

C:\ProgramData\Miniconda3\envs\py362\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\ProgramData\Miniconda3\envs\py362\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
C:\ProgramData\Miniconda3\envs\py362\lib\site-packages\sklearn\learning_curve.py:22: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)

In [3]:
#Ejemplo de autocompletar, usar ayuda contextual, etc...
# pd.read_csv()

## Load data

### Train

TRICK: 
- atención a `/` y `\`
- atención al `encoding`... mejor usar 'utf-8'
- fechas... son peculiares.. intentar evitarlas ahora. Si hay fechas, podéis cargarlas usando parámetro `parse_dates`

In [4]:
fileName = './00_data_raw/train.csv'

df = pd.read_csv(fileName)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

.... Seguro que lo ha cargado bien? mirar tipos

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [7]:
#no hace falta ser elegante...
type(df['Name'].iloc[0])

str

In [8]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### Test

A ver qué features nos dan...

In [9]:
fileName = './00_data_raw/test.csv'

df_test = pd.read_csv(fileName)
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Predecir si sobrevive o no... es decir, columna 'Survived'

### Resultado esperado

In [10]:
fileName = './00_data_raw/gender_submission.csv'

df_sample = pd.read_csv(fileName)
df_sample.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

## Custom functions

Por ejemplo... tienes script para que te saque los datos que te interesan de un dataframe.... importas diccionario...

In [11]:
from auxfiles import titanic_dicts

In [12]:
titanic_dicts.dict_embarked_port

{'C': 'Cherbourg', 'Q': 'Queenstown', 'S': 'Southampton'}

## Exploratory data analysis

In [13]:
#Primer vistazo... 
df.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"van Billiard, Mr. Austin Blyler",male,NaN,NaN,NaN,347082,NaN,G6,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [14]:
#Volvamos a ver cabecera
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

PassengerId es identificador... no servirá como feature

Interesa ver nans...

In [15]:
aux = ['a', 'b', 'c']
aux.remove('a')
aux

['b', 'c']

In [16]:
target = 'Survived'
passenger_id = 'PassengerId'
features = list(df.columns)
features.remove(target)
features.remove(passenger_id)
features.remove('Name')
features

['Pclass',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [17]:
df['Survived'].value_counts(normalize=True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [18]:
#con un loop:
for col in features:
    print('')
    print(col)
    
    print(df[col].value_counts(dropna=False))

Pclass
3    491
1    216
2    184
Name: Pclass, dtype: int64

Sex
male      577
female    314
Name: Sex, dtype: int64

Age
NaN       177
 24.00     30
 22.00     27
 18.00     26
 28.00     25
 19.00     25
 30.00     25
 21.00     24
 25.00     23
 36.00     22
 29.00     20
 32.00     18
 26.00     18
 35.00     18
 27.00     18
 16.00     17
 31.00     17
 34.00     15
 23.00     15
 33.00     15
 20.00     15
 39.00     14
 17.00     13
 42.00     13
 40.00     13
 45.00     12
 38.00     11
 50.00     10
 2.00      10
 4.00      10
         ...
 28.50      2
 63.00      2
 0.83       2
 30.50      2
 70.00      2
 57.00      2
 0.75       2
 13.00      2
 59.00      2
 10.00      2
 64.00      2
 40.50      2
 45.50      2
 32.50      2
 20.50      1
 24.50      1
 0.67       1
 70.50      1
 0.92       1
 74.00      1
 34.50      1
 14.50      1
 80.00      1
 12.00      1
 53.00      1
 36.50      1
 55.50      1
 66.00      1
 23.50      1
 0.42       1
Name: Age, Length: 89, dtype: int64

SibSp
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

Parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

Ticket
347082           7
CA. 2343         7
1601             7
347088           6
CA 2144          6
3101295          6
382652           5
S.O.C. 14879     5
2666             4
4133             4
113760           4
W./C. 6608       4
347077           4
349909           4
19950            4
113781           4
PC 17757         4
LINE             4
17421            4
239853           3
C.A. 31921       3
248727           3
35273            3
230080           3
110152           3
PC 17760         3
F.C.C. 13529     3
371110           3
SC/Paris 2123    3
110413           3
                ..
349212           1
335677           1
110564           1
350046           1
3101277          1
394140           1
350406           1
F.C.C. 13531     1
111320           1
5727             1
PC 17605         1
350047           1
349231           1
234686           1
A/4. 20589       1
A./5. 2152       1
349204           1
SC/AH 29037      1
349225           1
2687             1
382651           1
367231           1
113510           1
C.A. 31026       1
111428           1
349252           1
362316           1
29104            1
112050           1
244361           1
Name: Ticket, Length: 681, dtype: int64

Fare
8.0500      43
13.0000     42
7.8958      38
7.7500      34
26.0000     31
10.5000     24
7.9250      18
7.7750      16
26.5500     15
0.0000      15
7.2292      15
7.8542      13
8.6625      13
7.2500      13
7.2250      12
16.1000      9
9.5000       9
24.1500      8
15.5000      8
56.4958      7
52.0000      7
14.5000      7
14.4542      7
69.5500      7
7.0500       7
31.2750      7
46.9000      6
30.0000      6
7.7958       6
39.6875      6
            ..
7.1417       1
42.4000      1
211.5000     1
12.2750      1
61.1750      1
8.4333       1
51.4792      1
7.8875       1
8.6833       1
7.5208       1
34.6542      1
28.7125      1
25.5875      1
7.7292       1
12.2875      1
8.6542       1
8.7125       1
61.3792      1
6.9500       1
9.8417       1
8.3000       1
13.7917      1
9.4750       1
13.4167      1
26.3875      1
8.4583       1
9.8375       1
8.3625       1
14.1083      1
17.4000      1
Name: Fare, Length: 248, dtype: int64

Cabin
NaN                687
B96 B98              4
G6                   4
C23 C25 C27          4
F33                  3
E101                 3
C22 C26              3
D                    3
F2                   3
D36                  2
C68                  2
C123                 2
C78                  2
C52                  2
E8                   2
B58 B60              2
E25                  2
C126                 2
B22                  2
C124                 2
E33                  2
B18                  2
B57 B59 B63 B66      2
F G73                2
D17                  2
C93                  2
C125                 2
B20                  2
D33                  2
C2                   2
                  ...
B78                  1
C101                 1
B69                  1
B38                  1
A19                  1
C32                  1
C95                  1
A16                  1
C110                 1
B39                  1
B37                  1
C85                  1
C82                  1
D15                  1
D7                   1
C54                  1
B41                  1
C104                 1
E10                  1
D9                   1
B82 B84              1
E38                  1
F38                  1
B50                  1
D45                  1
A26                  1
D11                  1
A34                  1
C7                   1
A7                   1
Name: Cabin, Length: 148, dtype: int64

Embarked
S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64

In [19]:
#Tendre que hacer imputación y get_dummies

In [20]:
feat_cat = ['Pclass', 'Sex', 'Embarked']
feat_num = ['Age', 'SibSp', 'Fare']
feat_binary = [ 'Parch']
discard_cols = [target, passenger_id, 'Name', 'Ticket', 'Cabin']

[col for col in df.columns if col not in feat_cat + feat_num + feat_binary + discard_cols]

[]

In [21]:
from sklearn.model_selection import train_test_split

import random
random.seed(1234)

In [22]:
#will use randomforest (no requiere imputar NA, cambiar categoricas...)
#usaremos feat_cat, feat_num, feat_binary

feats = feat_num + feat_binary

In [23]:
X = df[feats]
y = df[target]

In [24]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.2)

In [25]:
# !pip freeze

In [26]:
for feat in feats:
    print(feat)
    print(df[feat].isna().sum())

Age
177
SibSp
0
Fare
0
Parch
0

In [27]:
imp = sklearn.preprocessing.Imputer(strategy='mean')
X_train[['Age']] = imp.fit_transform(X_train[['Age']].as_matrix())
X_val[['Age']] = imp.transform(X_val[['Age']].as_matrix())

C:\ProgramData\Miniconda3\envs\py362\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Miniconda3\envs\py362\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
C:\ProgramData\Miniconda3\envs\py362\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [28]:
rf_clf = sklearn.ensemble.RandomForestClassifier(max_depth=4)

In [29]:
X_train.head()

           Age  SibSp     Fare  Parch
768  29.822803      1  24.1500      0
399  28.000000      0  12.6500      0
138  16.000000      0   9.2167      0
767  30.500000      0   7.7500      0
378  20.000000      0   4.0125      0

### random foreste

In [30]:
rf_clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=4, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [31]:
pred_val = rf_clf.predict(X_val)

In [32]:
sklearn.metrics.accuracy_score(y_true = y_val, y_pred= pred_val)

0.66480446927374304

In [33]:
sklearn.metrics.roc_auc_score(pred_val, y_val)

0.67589355089355085

### xgboost

In [34]:
import xgboost as xgb

In [35]:
xg_clf = xgb.XGBClassifier(objective = 'binary:logistic')

In [36]:
xg_clf.fit(X_train, y_train)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [37]:
pred_val = xg_clf.predict(X_val)

In [38]:
sklearn.metrics.accuracy_score(y_true = y_val, y_pred= pred_val)

0.66480446927374304

In [39]:
sklearn.metrics.roc_auc_score(pred_val, y_val)

0.68052738336714003

# Feature importance

In [40]:
rf_clf.feature_importances_

array([ 0.2111545 ,  0.15541123,  0.57797569,  0.05545858])

In [41]:
#importance > 0.05
[(feats[idx], rf_clf.feature_importances_[idx]) for idx in [0,1,2]]

[('Age', 0.21115449977075845),
 ('SibSp', 0.15541123176748756),
 ('Fare', 0.57797568616094519)]